html, body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar span {
  color: #344050;
  padding-right: 5px;
}

h1, h2, h3, h4, h5 {
  color: #344050;
}

span {
  color: #5E6E82;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #717F90;
  font-size: 14px;
  font-weight: 300;
}

hr {
  color: #6f8eb6;
}

label {
  font-size: 13px;
  font-weight: 500;
}

::placeholder {
  color: #B6C1D2 !important;
  opacity: 1;
}

input {
  color: #717F90 !important;
  border-color: #D8E2EF !important;
}

input:disabled {
  color: #010305;
  border-color: #D8E2EF !important;
  background-color: #EDF2F9 !important;
}

.form-control {
  padding-left: 0.5rem !important;
}

.border-end {
  border-width: 0px !important;
}

.list-group .list-group-item {
  border-color: #D8E2EF;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.list-group .list-group-item span {
  font-size: 14px;
}

.last {
  border-top: 0px;
}

.text-bold {
  font-weight: 700;
}

.text-semi-bold {
  font-weight: 600;
}

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.card-meta {
  border: 1px solid #eee;
  border-width: 0px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  max-width: 26rem;
}

.card-purchase {
  border: 1px solid #eee;
  border-width: 0px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .card-meta {
    border: 1px solid #eee;
    border-width: 0px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    width: 28rem;
  }

  .card-purchase {
    border: 1px solid #eee;
    border-width: 0px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    width: 47rem;
  }

  .list-group .list-group-item span {
    font-size: 16px;
  }

  .border-end {
    border-width: 1px !important;
  }
}

.footer-meta {
  border-top: 1px solid #D8E2EF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #F9FAFD;
}

.btn-meta-primary {
  color: #2c7be5 !important;
  color: #4d5969;
  background-color: #fff;
  border-color: #fff;
  box-shadow:0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08)
}

.btn-meta-primary:hover {
  color: #4d5969;
  background-color: #fff;
  border-color:#fff
}

.btn-meta-primary.focus, .btn-meta-primary:focus {
  color: #4d5969;
  background-color: #fff;
  border-color: #fff;
  box-shadow:0 0 0 0 rgba(228, 230, 233, .5)
}

.btn-meta-primary.disabled, .btn-meta-primary:disabled {
  color: #4d5969;
  background-color: #fff;
  border-color:#fff
}

.btn-meta-primary:not(:disabled):not(.disabled).active, .btn-meta-primary:not(:disabled):not(.disabled):active, .show > .btn-meta-primary.dropdown-toggle {
  color: #4d5969;
  background-color: #d5e5fa;
  border-color:#d5e5fa
}

.btn-meta-primary:not(:disabled):not(.disabled).active:focus, .btn-meta-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-meta-primary.dropdown-toggle:focus {
  box-shadow:0 0 0 0 rgba(228, 230, 233, .5)
}

.btn-meta-primary:focus:not(.disabled), .btn-meta-primary:hover:not(.disabled) {
  color: #1966cc !important;
  box-shadow:0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .1), 0 3px 9px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .08), 0 1px 2px 0 rgba(0, 0, 0, .08)
}

.btn-meta-primary:active {
  box-shadow: none;
  color:#1966cc !important
}

.btn-meta-default {
  color: #4d5969;
  background-color: #fff;
  border-color: #fff;
  box-shadow:0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08)
}

.btn-meta-default:hover {
  color: #4d5969;
  background-color: #fff;
  border-color:#fff
}

.btn-meta-default.focus, .btn-meta-default:focus {
  color: #4d5969;
  background-color: #fff;
  border-color: #fff;
  box-shadow:0 0 0 0 rgba(228, 230, 233, .5)
}

.btn-meta-default.disabled, .btn-meta-default:disabled {
  color: #4d5969;
  background-color: #fff;
  border-color:#fff
}

.btn-meta-default:not(:disabled):not(.disabled).active, .btn-meta-default:not(:disabled):not(.disabled):active, .show > .btn-meta-default.dropdown-toggle {
  color: #4d5969;
  background-color: #e6e6e6;
  border-color:#dfdfdf
}

.btn-meta-default:not(:disabled):not(.disabled).active:focus, .btn-meta-default:not(:disabled):not(.disabled):active:focus, .show > .btn-meta-default.dropdown-toggle:focus {
  box-shadow:0 0 0 0 rgba(228, 230, 233, .5)
}

.btn-meta-default:focus:not(.disabled), .btn-meta-default:hover:not(.disabled) {
  color: #010305 !important;
  box-shadow:0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .1), 0 3px 9px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .08), 0 1px 2px 0 rgba(0, 0, 0, .08)
}

.btn-meta-default:active {
  box-shadow: none;
  color:#010305 !important
}

.btn-meta-danger {
  color: #e63757 !important;
  color: #4d5969;
  background-color: #fff;
  border-color: #fff;
  box-shadow:0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08)
}

.btn-meta-danger:hover {
  color: #4d5969;
  background-color: #fff;
  border-color:#fff
}

.btn-meta-danger.focus, .btn-meta-danger:focus {
  color: #4d5969;
  background-color: #fff;
  border-color: #fff;
  box-shadow:0 0 0 0 rgba(228, 230, 233, .5)
}

.btn-meta-danger.disabled, .btn-meta-danger:disabled {
  color: #4d5969;
  background-color: #fff;
  border-color:#fff
}

.btn-meta-danger:not(:disabled):not(.disabled).active, .btn-meta-danger:not(:disabled):not(.disabled):active, .show > .btn-meta-danger.dropdown-toggle {
  color: #4d5969;
  background-color: #fad7dd;
  border-color:#fad7dd
}

.btn-meta-danger:not(:disabled):not(.disabled).active:focus, .btn-meta-danger:not(:disabled):not(.disabled):active:focus, .show > .btn-meta-danger.dropdown-toggle:focus {
  box-shadow:0 0 0 0 rgba(228, 230, 233, .5)
}

.btn-meta-danger:focus:not(.disabled), .btn-meta-danger:hover:not(.disabled) {
  color: #d71b3d !important;
  box-shadow:0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .1), 0 3px 9px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .08), 0 1px 2px 0 rgba(0, 0, 0, .08)
}

.btn-meta-danger:active {
  box-shadow: none;
  color:#d71b3d !important
}

.StripeElement {
  box-sizing: border-box;
  height: 38px;
  padding: 8px;
  border: 1px solid #D8E2EF;
  border-radius: 4px;

}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}